:root {
  --vw: 1440;
  --multiplier: 100vw;
  --primary-color: #e4e0dd;
  --secondary-color: #131313;
  --base-elementis-color: #2b3530;
  --base-text-hover-color: #eaeaea;
  --base-scroll-image-gallery-color: #f0f0f0;
  --base-bindery-color: #e7e789;
  --base-page-reveal-color: #ff4d07;
  --base-telescope-color: #f4f3f0;
  --base-vooban-color: #1458e4;
  --base-scroll-text-color: #ffffff;
  --base-cine-casero-color: #eae9e4;
  --base-slide-observer-color: #1e1d1d;
  --base-tomoyaokada-color: #e4e0dd;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/fonts/NeueMontrealRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PP Editorial";
  src: url("/assets/fonts/PPEditorialNewRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

p,
a {
  text-decoration: none;
  color: currentColor;
}

body {
  overflow-x: hidden;
  font-family: "Neue Montreal", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.base-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 10vmax;
  will-change: transform;
}

.view-site {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: calc(12 / var(--vw) * var(--multiplier));
  padding: 0.35rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.line {
  will-change: transform;
}

.link {
  position: relative;
  width: max-content;
  color: var(--base-vooban-color);
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: currentColor;
  pointer-events: none;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.24, 0.43, 0.15, 0.97);
  width: 100%;
  height: 1px;
  will-change: transform;
}

.link:hover::before {
  transform: scaleX(0);
  transform-origin: right;
}

.infinite-text-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: max-content;
  will-change: transform, opacity;
}

.infinite-text-inner {
  width: max-content;
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  animation: marquee 30s linear infinite;
  font-size: calc(12 / var(--vw) * var(--multiplier));
}

.infinite-text-wrapper:hover .infinite-text-inner {
  animation-play-state: paused;
}

@keyframes marquee {
  to {
    transform: translateX(-50%);
  }
}

.main-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.left-container,
.right-container {
  width: 50%;
  height: 100%;
}

.images {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: transform;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.wrapper-content {
  width: 100%;
  padding: 0 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.title-content {
  font-size: 4vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  letter-spacing: -0.02em;
}

.description p {
  font-size: calc(14 / var(--vw) * var(--multiplier));
}

.wrapper-project {
  padding: 0 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
  margin-top: auto;
}

.wrapper-title-project {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.title-project {
  font-size: calc(30 / var(--vw) * var(--multiplier));
  letter-spacing: -0.02em;
  will-change: transform;
  display: inline-block;
}

.title-project:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.number-project {
  font-size: calc(18 / var(--vw) * var(--multiplier));
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.number-project span {
  display: inline-block;
  will-change: transform;
}

.number-project span:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(14 / var(--vw) * var(--multiplier));
}

.preload-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  color: var(--primary-color);
  z-index: 10;
}

.block {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--secondary-color);
  top: 0;
  will-change: clip-path;
}

.block.left {
  left: 0;
}

.block.right {
  right: 0;
}

.text-preload {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: calc(50 / var(--vw) * var(--multiplier));
  font-weight: 500;
  overflow: hidden;
  will-change: transform;
  padding: 0 0.5rem;
}

.block.left .text-preload {
  right: 0.25rem;
}

.block.right .text-preload {
  left: 0.25rem;
  font-style: italic;
  font-family: "PP Editorial";
}

.text-preload span {
  display: inline-block;
  will-change: transform;
  transform: translateY(150%);
}

.divider {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--primary-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  will-change: transform, opacity;
  transform: scaleY(0);
  transform-origin: top;
}

.number-preload {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(18 / var(--vw) * var(--multiplier));
  font-weight: 500;
  display: inline-block;
}

.number-preload span {
  display: inline-block;
}

@media (max-width: 1024px) {
  .infinite-text-inner {
    font-size: calc(20 / var(--vw) * var(--multiplier));
  }

  .main-container {
    flex-direction: column-reverse;
  }

  .left-container {
    width: 100%;
    height: 50dvh;
  }

  .infinite-text-wrapper {
    grid-column: span 2 / span 2;
  }

  .wrapper-content {
    margin-top: 1rem;
    justify-content: start;
  }

  .description p {
    font-size: calc(24 / var(--vw) * var(--multiplier));
  }

  .title-project {
    font-size: calc(45 / var(--vw) * var(--multiplier));
  }

  .number-project {
    font-size: calc(28 / var(--vw) * var(--multiplier));
  }

  .footer {
    display: flex;
    font-size: calc(18 / var(--vw) * var(--multiplier));
  }

  .right-container {
    width: 100%;
    height: 50dvh;
  }

  .number-preload {
    font-size: calc(24 / var(--vw) * var(--multiplier));
  }

  .text-preload {
    font-size: calc(50 / var(--vw) * var(--multiplier));
  }

  .base-cursor {
    display: none;
  }
}

@media (max-width: 768px) {
  .infinite-text-inner {
    font-size: calc(30 / var(--vw) * var(--multiplier));
  }

  .wrapper-content {
    gap: 0.5rem;
  }

  .description p {
    font-size: calc(34 / var(--vw) * var(--multiplier));
  }

  .footer {
    font-size: calc(30 / var(--vw) * var(--multiplier));
  }

  .wrapper-title-project {
    max-width: 100%;
    overflow: hidden;
  }

  .title-project {
    font-size: calc(60 / var(--vw) * var(--multiplier));
  }

  .number-project {
    font-size: calc(40 / var(--vw) * var(--multiplier));
  }

  .number-preload {
    font-size: calc(32 / var(--vw) * var(--multiplier));
  }

  .text-preload span {
    font-size: calc(60 / var(--vw) * var(--multiplier));
  }
}
