* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PP Mori";
  src: url("/assets/fonts/PPMoriRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PP Mori";
}
