* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/fonts/NeueMontrealRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Neue Montreal";
  background-color: #eae9e4;
}

.intro,
.outro,
.scrolling {
  width: 100%;
  height: 100dvh;
}

.intro,
.outro {
  display: flex;
  align-items: flex-end;
  padding-bottom: 2rem;
  justify-content: center;
  position: relative;
}

.intro h1,
.outro h1 {
  max-width: 90vw;
  font-size: clamp(1em, 5vw, 2em);
  text-indent: 4em;
}

.site {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-weight: 600;
  font-size: 1.25em;
}

.scrolling {
  position: relative;
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}

.left-outer,
.left,
.center,
.right,
.right-outer {
  width: 100%;
  height: 100%;
}

.left,
.right {
  will-change: transform;
}

.left-outer,
.right-outer {
  display: flex;
  align-items: center;
  will-change: transform;
}

.center img {
  aspect-ratio: 5 / 6;
  visibility: hidden;
}

.title {
  font-size: calc(3.5vw + 1.2rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  /* opacity: 0; */
}

/* .left,
.right {
  top: -10vh;
  position: relative;
} */

.grid img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.grid > div > img + img {
  margin-top: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  clip-path: var(--mask-path);
}
