* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/fonts/NeueMontrealRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Respira Black";
  src: url("/assets/fonts/RespiraBlack.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Neue Montreal";
}

.container {
  width: 100%;
  height: 100svh;
  position: relative;
  overflow: hidden;
  cursor: grab;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container.dragging {
  background-color: black;
  cursor: grabbing;
}

.container.dragging .card-img {
  transform: scale(0.85);
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  height: fit-content;
  user-select: none;
  padding: 10vw;
  gap: 15vw;
  z-index: 9999;
  will-change: transform;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.column:nth-child(even) {
  margin-top: 10rem;
}

.container:not(.dragging) .card-img:hover {
  transform: scale(1.05);
}

.card-img {
  width: 15vw;
  aspect-ratio: 1;
  user-select: none;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-img img {
  object-fit: contain;
}

.container.dragging .text-wrapper {
  color: white;
}

.text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.text-wrapper h1 {
  font-family: "Respira Black";
  text-transform: uppercase;
  font-size: 8vw;
}

.text-wrapper p {
  font-size: 2vw;
}

@media (max-width: 768px) {
  .card-img {
    width: 25vw;
  }
}
