@font-face {
  font-family: "Basis Grotesque";
  src: url("/assets/fonts/BasisGrotesqueRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: #eaeaea;
  color: #0a0a0a;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.hover-container {
  position: relative;
  font-size: 3rem;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Basis Grotesque", sans-serif;
}

.text {
  display: inline-block;
  position: relative;
}

.text .top,
.text .bottom {
  display: block;
  will-change: transform;
}

.text .bottom {
  position: absolute;
  top: 0;
  left: 0;
}
